<main>
  <h1>Liste des articles</h1>

  <div class="content">
    <p>Total des articles: {{ totalArticles() }}</p>
    <div class="error">
      @if (errorMsg) {
        <span>Erreur: {{ errorMsg }}</span>
      }
    </div>
    <nav>
      <app-async-button
        [label]="'Rafraîchir'"
        [action]="refresh()"
        [icon]="faRotateRight"
        (whenStartAction)="setErrorMsg('')"
        (whenError)="setErrorMsg($event)"></app-async-button>
      <a routerLink="create" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <app-async-button
        [hidden]="selectedArticles.size === 0"
        label="Supprimer"
        [action]="remove()"
        [icon]="faTrashAlt"
        (whenStartAction)="setErrorMsg('')"
        (whenError)="setErrorMsg($event)"></app-async-button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        @if (articleService.articles() === undefined) {
          <tr>
            @if (articleService.errorMsg() === '') {
              <td colspan="3">Loading...</td>
            } @else {
              <td colspan="3">
                <strong> Erreur: {{ articleService.errorMsg() }} </strong>
              </td>
            }
          </tr>
        } @else {
          @for (a of articleService.articles(); track a.id) {
            <tr [class.selected]="selectedArticles.has(a)" (click)="select(a)">
              <td class="name">{{ a.name }}</td>
              <td class="price">{{ a.price }} €</td>
              <td class="qty">{{ a.qty }}</td>
            </tr>
          } @empty {
            <tr>
              <td colspan="3">Pas d'articles.</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</main>
