/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/sanitize.css/sanitize.css";

@import "./scss/button.scss";
@import "./scss/form.scss";

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em;

  h1 {
    text-align: center;
  }

  p {
    align-self: flex-start;
  }
}
