/* You can add global styles to this file, and also import other style files */
@import '../node_modules/normalize.css/normalize.css';

@import './scss/button.scss';
@import './scss/form.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em;

  h1 {
    text-align: center;
  }

  p {
    align-self: flex-start;
  }
}
